{% extends 'pages/base.html' %}

{% load static %}

{% block content %}

<h1 id="blogtitle" class="font-weight-bold text-center">Blog Page</h1>

<h3>There are {{ total }} blog{{ total|pluralize }} in total.</h3>

{% for blog in all_blogs_fields %}
<div>
    <div>
        <a>
            <h2>{{ blog.title }}</h2>
        </a>
        <h5 class="text-muted">{{ blog.date|date:'d M Y'|upper }}</h5>
        <h4>{{ blog.content|striptags|truncatechars:100 }}</h4>
    </div>
</div>
{% endfor %}

<br>
<a href="{% url 'home' %}">Home</a>
{% endblock %}
